@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="/css/login.css">
<div class="login-container">
    <div class="Login">
        <form method="post">

            <fieldset>
                <legend>LOGIN</legend>

                <div class="inputField">
                    <label asp-for="Login.email">Email</label>
                    <input asp-for="Login.email">

                    <span class="text-danger" asp-validation-for="Login.email"></span>


                    <label asp-for="Login.password">Password</label>
                    <input asp-for="Login.password">

                    <span class="text-danger" asp-validation-for="Login.password"></span>
                </div>
                <button id="Continue" type="submit" value="Submit">Continue</button>

                <label id="Question">Don't have an account?</label>
                <input asp-page="/register" id="SignUpp" type="submit" value="SignUp">
            </fieldset>
        </form>

    </div>
</div>
