@page
@model Synthesis_Assignments.Pages.ReturnItemModel
@{
}
<link rel="stylesheet" href="/css/returnItem.css">
<form method="post" >
	<div class="item">
		<label for="reason">Reason for Return</label><br>
		<textarea type="text" id="reason" name="reason">

		</textarea>
		
		<button type="submit">Submit</button>
	</div>
 
</form> 