body {
    background-color: #3D68FF;
    overflow-x:hidden;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    background-color: #4ba0e7;
}

    .navbar a {
        margin-right: 50px;
        float: right;
        color: #ffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background-color: #5C5CFF;
            border-radius: 30px;
            transition-duration: 2s;
        }

    .navbar input[type=text] {
        /* 
    position: absolute;
   
   */
        margin-left: 30px;
        margin-right: 30px;
        top: 9px;
        padding: 6px;
        border: none;
        font-size: 17px;
        text-align: left;
    }

    .navbar #logo {
        margin-top: 6px;
        margin-left: 20px;
        margin-right: 20px;
        width: 140px;
    }



body .flex-container {
    
    display: flex;
    
    justify-content: left;
    position: relative;
    
}

    body .flex-container .flex-items 
    {
        flex-direction: column;
    
    }

    body .flex-container a 
    {
        
        text-decoration: none;
    }

body .grid-container {
    margin-left: -18rem;
    max-width: 1200px;
    display: grid;
    gap: 3rem;
    
   grid-template-columns: repeat(auto-fit, minmax(130px, 3fr));
}


    body .grid-container .grid-item {
        overflow: hidden;
        
    }
    body .grid-container .grid-item:hover {
        box-shadow:20px 30px 30px rgba(0,0,0,0.06)
    }
        body .grid-container .grid-item img {
          /*  height: 20rem;*/
            width: 150px;
            height: 110px;
            object-fit: contain;
            align-items: center;
        }


@media (max-width: 800px) {

    body .flex-container 
    {
        display: flex;
        justify-content: left;
        position: relative;
    }

    body .grid-container {
        margin-left: -18rem;
        max-width: 1200px;
        display: grid;
        gap: 3rem;
        grid-template-columns: 120px;
    }

  
        
}


