@import url('register.css');



.navbar {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: left;
	align-items: center;
	overflow: hidden;
	background-color: #4ba0e7;
}

	.navbar a {
		margin-right: 50px;
		float: right;
		color: #ffff;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

		.navbar a:hover {
			background-color: #5C5CFF;
			border-radius: 30px;
			transition-duration: 2s;
		}

	.navbar input[type=text] {
		/* 
    position: absolute;
   
   */
		margin-left: 30px;
		margin-right: 30px;
		top: 9px;
		padding: 6px;
		border: none;
		font-size: 17px;
		text-align: left;
	}

	.navbar #logo {
		margin-top: 6px;
		margin-left: 20px;
		margin-right: 20px;
		width: 140px;
	}

body .description {
	font-weight: bold;
	margin-top: 230px;
	margin-left: 190px;
}

	body .description p {
		font-size: large;
	}

body .SignUp {
	margin:auto;
	margin-top:3rem;
	
}

	body .SignUp fieldset {
		border-color: white;
	}

	body .SignUp h4 {
		margin-bottom: 0px;
	}

	body .SignUp input[type=text] {
		border-radius: 5px;
	}

	body .SignUp .inputField {
		margin-left: 25px;
		margin-right: 25px;
	}

	body .SignUp #Continue {
		padding-left: 35px;
		padding-right: 35px;
		margin-top: 20px;
		margin-left: 50px;
		border-radius: 5px;
	}

	body .SignUp #Login {
		position: relative;
		bottom: 26px;
		margin-left: 120px;
		border-radius: 5px;
	}

	body .SignUp #Question {
		position: relative;
		top: 15px;
	}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	

}

@media (max-width: 800px) {

	.flex-container {
		flex-direction: column;
	}

		.flex-container .SignUp {
			flex-direction: column;
			margin-left: 5rem;
			margin-bottom: 2rem;
		}
}


/* 
@media (max-width: 800px) {
    .navbar input[type=text] {
        position: absolute;
        top: 9px;
        padding: 6px;
        padding-right: 35px;
        border: none;
        margin-left: 20px;
        font-size: 17px;
        text-align: left;
      }
    
    .flex-container {
      flex-direction: column;
    }
    .flex-container .SignUp{
        flex-direction: column;
        margin-left: 260px;
        margin-bottom: 90px;
    }
  
  }

              */
/*--------------------------------------------------------------------------------------landing page-------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------Login page-------------------------------------------------------------------------------------------------*/

